/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Header Part */
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    margin: 0 140px;
    align-items: center;
    justify-content: center;
}
.header-title{
    color: #FFFFFF;
    margin-left: 156px;
    font-size: 64px;
    margin-bottom: 0px;
    

}
.watch-live{
    margin-top: 10px;  
}
.anchor:hover{
    background-color: rgb(5, 17, 121);
    color: rgb(189, 92, 13);
    font-size: 20px;
    
}
.anchor{
    font-size: 16px;
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    margin-left: 156px;
    padding: 10px 24px; 
    
    
}
.banner img{
    width: 556.01px;
    height: 438px;
}
.banner{
    margin-left: 100px;
}
.background{
    width: 100%;
    height: 600px;
    background-color: rgb(26, 26, 187);
    margin-left: 0;
    margin-bottom: 100px;
    
}


/* Players part */
.container-2{
    max-width: 1050px;
    width: 100%;
    margin: 10px auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    margin-bottom: 150px;
    
}
    


.player{
    
    margin-left: 20px;
    width: 330px;
    height: 474px;
    box-shadow: 10px 10px 40px gainsboro;
}
.player-img img{
    width: 300px;
    height: 256px;
    padding-top: 15px;
    padding-left: 15px;
    
}
.player .player-info{
    padding-left: 15px;
    padding-right: 15px;
    
    text-align: justify;
}
/* Extra */
.extras .extra img{
    width: 500px;
    height: 470px;
}
.extrams{
    color: white;
    text-decoration: none;
    background-color: rgb(34, 5, 139);
    padding: 10px 40px;
    
}
.extras{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    margin-bottom: 100px;
}
/* Footer Part */
.logo-info{
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
}

.logo img{
    width: 500px;
    height: 110px;
}
.social-info{
    max-width: 300px;
    width: 100%;
    margin: 10px auto;
}

.social-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    margin-left: 20px;
    
    
    
}

.bg{
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background-color: gray;
}
.icon .bg {
    text-align: center;
    align-content: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    
}
.copyright{
    text-align: center;
    
}
/* Media Quiry */
@media only screen and (max-width:688px) {
    .background {
        width: 960px;
        margin-bottom: 320px;
        }
        .container{
            justify-items: center;
        }
        
        .container, .extras{
        grid-template-columns: repeat(1,1fr);
        }
        .players{
        grid-template-columns: repeat(2,1fr);
        margin-left: 30%;
        }
        .extras, .logo-info{
        margin-left: 60%;
        }
        
        .social-info{
        margin-left: 90%;
        }
    
}